*{
    margin: 0px;
    padding: 0px;

}
h1{
    color:greenyellow;
    text-align: center;
    margin-top: 50px;
    background-color: none;
    text-decoration: dashed;
    font-size: xx-large;

}
.container{
    height: 70vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    
    height:50vh;
    width: 100vmin;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.boxes{
    height: 15vh;
    width: 30vmin;
    border-radius: 2em;
    background-color: yellow;
    border: none;
   font-size: x-large;
   color: black;

}
body{
    background-image: url("tic tac toe.jpg");
    background-size: cover;


}
.msgcontainer{
    text-align: center;
    font-size: xx-large;
    color: aliceblue;
    margin-top: 20px;
}
.hide{
    display: none;
}
.resetdiv{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;


}
#reset-btn{  
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #191913;
   color: #fff;
   border-radius: 1rem;
   border: none;


}