*{
    margin: 0px;
    padding: 0px;

}
h1{
    color:black;
    font-style: italic;
    font-weight: 200 ;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    text-decoration: dashed;
    font-size: xx-large;

}
.container{
    height: 70vh;
    width: 100vw;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    
    height:60vh;
    width: 100vmin;
    background: transparent;
    backdrop-filter: blur(2px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.boxes{
    height: 15vh;
    width: 30vmin;
    border-radius: 2em;
    background-color: yellow;
    border: none;
   font-size: x-large;
   color: black;
   transition: all cubic-bezier(1, 0, 0, 1) ease-in  1s;

}
.boxes:hover{
    background-color: grey;
     transform: scale(1.1); /* bahar niklega */
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    
}
body{
    background-image: url("tic tac toe.jpg");
    background-size: cover;


}
.msgcontainer{
    text-align: center;
    font-size: xx-large;
    color: aliceblue;
    margin-top: 20px;
}
.hide{
    display: none;
}
.resetdiv{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;


}
#reset-btn{  
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #191913;
   color: #fff;
   border-radius: 1rem;
   border: none;
   transition: 
       transform 0.4s ease,
       box-shadow 0.4s ease,
       background-color 0.4s ease;
}
#reset-btn:hover{
        transform: scale(1.15);
    box-shadow: 0 10px 25px rgba(255,255,255,0.3);
    
}


